/* Hero */
.hero {
  background-color: var(--bg-dark-color);
  letter-spacing: 0.06em;
  text-align: center;

  /* max-width: 1600px; */
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcgpicturenew.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  outline: 2px solid tomato;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  padding-top: 195px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.quality {
  padding-top: 89px;
  padding-bottom: 94px;

  display: flex;
  gap: 30px;
}

.quality h3 {
  margin-bottom: 10px;
}

.container h2 {
  margin-bottom: 50px;
}

/* Works */

.works-item {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-block;
  border-radius: 4px;
  border-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  margin-bottom: 205px;
  transition: background-color var(--animation);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color-hover);
}

/* Преимущества */
.section-text {
  font-size: 14px;
  line-height: 1.71;
}

.list-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-position: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* .list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../imagescss/antenna.svg);
}

.icon-clock::before {
  background-image: url(../imagescss/clock.svg);
}

.icon-diagram::before {
  background-image: url(../imagescss/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../imagescss/astronaut.svg);
} */

/* Чем мы занимаэмся */
.works-item .label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.thumb {
  position: relative;
}

/* Team */
.team {
  background-color: var(--bg-light-color);
  outline: 2px solid tomato;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.workers .person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.webs-link {
  display: flex;
  justify-content: center;

  outline: 1px solid red;
  height: 44px;
  align-items: center;
  gap: 10px;
}

.webs-link li {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid blue;

  border-radius: 50%;
  cursor: pointer;
}

.webs-link-icon {
  fill: var(--primary-text-color);
}

.webs-link li:hover,
.webs-link li:focus {
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}

.webs-link li:hover .webs-link-icon,
.webs-link li:focus .webs-link-icon {
  fill: var(--primary-white-color);
  transition: fill var(--animation);
}

/* .webs-link .link::before {
  content: "";
  display: block;

  outline: 1px solid red;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
} */

/* .webs-link .icon-instagram::before {
  background-image: url(../imagescss/instagram.svg);
}

.webs-link .icon-twiter::before {
  background-image: url(../imagescss/twitter.svg);
}

.webs-link .icon-facebook::before {
  background-image: url(../imagescss/facebook.svg);
}

.webs-link .icon-linkedin::before {
  background-image: url(../imagescss/linkedin.svg);
}

.webs-link .link:hover,
.webs-link .link:focus {
  background-color: var(--accent-color);
} */

/* Clients */
.titel-clients {
  color: var(--title-text-color);
}
.list-clients {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.client {
  padding: 16px 32px 16px 32px;
  width: 170px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}

.client-logo {
  fill: var(--border-color);
}

.client:hover,
.client:focus {
  border: 1px solid var(--accent-color);
  transition: solid var(--animation);
}

.client:hover .client-logo,
.client:focus .client-logo {
  fill: var(--accent-color);
  transition: fill var(--animation);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--primary-white-color);

  display: flex;
  justify-content: end;
  align-items: start;
}

.form .button {
  margin-top: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
}

/* Form window */

.form-button {
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 8px;
  margin-right: 8px;
}

.button-close {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: fill var(--animation);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form {
  position: relative;
  width: 528px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-field {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field input {
  margin: 0;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  transition: border-color var(--animation);
}

.form-field input::placeholder {
  color: tomato;
}

.button-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--animation);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--accent-color-hover);
}

.thumb-form {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.thumb-form input:focus ~ .icon-form {
  fill: var(--accent-color);
}

.form-field input:focus,
.form-field textarea:focus {
  border-color: var(--accent-color);
}

/* Второй вариант для смены цвета иконки */
/* .thumb-form:focus-within > .icon-form {
  fill: var(--accent-color);
} */

/* .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  /* width: 100%; */

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.check-label {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.check-link {
  margin-left: 2px;
  color: var(--accent-color);
}
